.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=radio] {
  margin-right: 5px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
.header{
  height: auto;
  width: auto;
  align-items: center;
}